*{
    margin: 0;
    padding: 0;
   box-sizing: border-box; 
  
}
body{
    background: url(./images/Background.jpg) no-repeat center center/cover;
}
nav{
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    font-family: 'Poppins', sans-serif;
    padding: 0.5%;
    height: 100px;
    background-color: rgba(6, 13, 14, 0.904);
}
nav .logo{
    float: left;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 24px;
    color: rgb(252, 246, 246);
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
   
}
nav .links{
    float: right;
    padding: 0;
    margin: 0;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav .links li{
    list-style: none;

}
nav .links li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #ca4c43;
    display: block;
    margin: auto;
    transition: 0.5s;
}
nav .links li:hover::after{
width: 100%;
}
nav .links a{
    display: block;
    padding: 0.5em;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
#nav-toggle{
    position: absolute;
    top: -100px;
}
nav .icon-burger{
    display: none;
    position: absolute;
    right: 5%;
  top: 50%;
  transform: translateY(-50%);
}
nav .icon-burger .line{
    width: 30px;
    height: 4px;
background-color: white;
margin: 5px;
border-radius: 3px;
transition: all .3 s ease-in-out;
}
/* navbar resposive in difrent devices */
@media screen and (max-width:950px) {
   nav .logo{
       float: none;
       width: auto;
       font-size: 15px;
       justify-content: center;
   }
   nav .links a{
       font-size: 17px;
   }
    nav .links{
       float: none;
       position: fixed;
       z-index: 9;
       left: 30%;
       right: 0;
       top: 100px;
       bottom: 100%;
       width: auto;
       height: auto;
       flex-direction: column;
       justify-content: space-around;
       background:rgb(148, 73, 79);
       overflow: hidden;
       transition: all .9s ease-in-out;
    }
    nav .links li::after{
        content: '';
        width: 0%;
        height: 2px;
        background: #000000;
        display: block;
        margin: auto;
        transition: 0.5s;
    }

    /* click icon effect to click  cursor */
    nav :checked~ .links{
        bottom: 0;
    }
    nav .icon-burger{
        display: block;
        cursor: pointer;
    }
    nav :checked~ .icon-burger .line:nth-child(1){
        transform: translateY(10px) rotate(225deg); 
    }
    nav :checked~ .icon-burger .line:nth-child(3){
        transform: translateY(-10px) rotate(-225deg);
        
    }
    nav :checked~ .icon-burger .line:nth-child(2){
       opacity: 0;  
    } 
}
.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  flex-direction: column;
  background-color: rgba(15, 13, 13, 0.712);
   
}
.contact .content{
    max-width: 800px;
    text-align: center;
  padding-top: 100px;
}
.contact .content h2{
   font-size: 36px; 
   font-weight: 300;
   color: white;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
 
}
.container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}
.container .contactInfo .box{
    position: relative;
    padding: 20px 0 ;
    display: flex;
}
.container .contactInfo .box .icon{
min-width:50px;
height: 50px;
background: rgba(42, 109, 139, 0.76);
display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;
font-size: 25px;
}
.container .contactInfo .box .text{
    display: flex;
    margin-left: 15px;
    font-size: 16px;
    color: white;
    flex-direction: column;
    font-weight: 300;
}
.container .contactInfo .box h3{
    font-weight: bold;
    font-size: 20px;
    color: rgb(207, 54, 16);
}
.contactForm{
    width: 70%;
    padding: 40px;
    background: white;
}
.contactForm h2{
    font-size: 30px;
    color: black;
    font-weight: 500;
}
.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid black;
    
    outline: none;
    resize: none;
}
.contactForm .inputBox span{
    position:absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: .5s;
    color: rgb(10, 8, 8);
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
    color: red;
    font-size: 12px;
    transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"]
{
    width: 25%;
    height: 50px;
    background:transparent;
    color:black;
    transition: 1s;
    border:1px solid black;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}
#submit-btn{
    color: rgb(255, 255, 255);
    background: black;
    border-radius: 20px;
}
#submit-btn:hover{
    color:rgb(251, 248, 248) ;
    background-color: rgb(19, 14, 65);
}

@media(max-width: 991px)
{
    .contact{
        padding: 50px;
    }
    .container{
        flex-direction: column;
    }
    .container .contactInfo{
        margin-bottom: 40px;
    }
    .container .contactInfo,
    .contactForm{
        width: 100%;
    }
}
.containers{
    max-width: 1170px;
    margin: auto;
  }
  .footer{
      background-color: rgb(0, 0, 0);
      padding: 70px 0;
  }
  .row{
      display: flex;
      flex-wrap: wrap;
  }
  .footer-col ul{
      list-style: none;
  }
  .footer-col {
      width: 25%;
      padding: 0 15px;
  }
  .footer-col h4{
      color: white;
      font-size: 20px;
      text-transform: capitalize;
      margin-bottom: 35px;
      font-weight: 500;
      position: relative;
  }
  .footer-col h4::before{
      content: "";
      position: absolute;
      left: 0;
      bottom: -10px;
      background-color: #e91e63;
      height: 2px;
      box-sizing: border-box;
      width: 80px;
  }
  .footer-col ul li:not(:last-child){
      margin-bottom: 10px;
  }
  .footer-col ul li a{
      font: 16px;
      text-transform: capitalize;
      color: #ffffff;
      text-decoration: none;
      font-weight: 300;
      color: #bbbbbb;
      display: block;
      transition: all .3s ease;
  }
  .footer-col ul li a:hover{
      color: #ffffff;
      padding-left:10px ;
  }
  .footer-col .soical-link a{
      display: inline-block;
      height: 40px;
      width: 40px;
      background-color:rgb(15, 78, 251);
      margin:0 10px 10px 0;
      text-align: center;
      line-height: 40px;
      border-radius: 50%;
      color: #ffffff;
      transition: all .3s ease;
  }
  .footer-col .soical-link a:hover{
      color: #24262b;
      background-color: white;
  }
  @media(max-width: 767px){
      .footer-col{
          width: 50%;
          margin-bottom: 30px;
      }
  }
  @media(max-width: 574px){
      .footer-col{
          width: 100%;
        
      }
  }
  .made{
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    padding-bottom: 20px;
}
.made i{
  color: red;
}